<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="UI.Escritorio.Properties.Settings.TPI2023M07ConnectionString"
   connectionString="Data Source=DESKTOP-QJEDU21;Initial Catalog=TPI2023M07;User ID=sa;Password=sql2023"
   providerName="System.Data.SqlClient" />
  <add name="UI.Escritorio.Properties.Settings.TPI2023M07lab" connectionString="Data Source=MS-12\SQLEXPRESS;Initial Catalog=TPI2023M07;User ID=net;Password=net"
   providerName="System.Data.SqlClient" />
  <add name="UI.Escritorio.Properties.Settings.cn" connectionString="Data Source=TOMASLARDIZABAL\SQLEXPRESS;Initial Catalog=Academia_tp;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>